body {
  background-color: #ccc !important;
}
a {
  text-decoration: none !important;
}
#root {
  max-width: 720px;
  background-color: white;
  padding: 0;
}
button.navbar-toggler {
  border: none;
}
.bi {
  width: 25px;
  height: 25px;
}
.fixed {
  position: fixed;
  right: 20px;
  top: 12px;
}
.responsive {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.responsive + p {
  float: left;
}
.img-wrap {
  position: relative;
}
.img-text {
  position: absolute;
  top: 40%;
  left: 30%;
  text-align: center;
}
.offset-300 {
  margin-left: 300px;
}
.reserve-button {
  color: #fff;
  background-color: #000;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  margin-bottom: 2em;
}

/*Inquiry page*/
.login,
.inquiry {
  width: 90% !important;
}
.login input,
.inquiry input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
}
.login input:focus,
.inquiry input:focus {
  border-bottom: 1px solid black;
}
/*input 옆의 조절 버튼 없애는방법 : https://stackoverflow.com/questions/56848369/how-to-validate-forms-controls-to-use-only-numeric-values-with-react-bootstrap*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
/*reservation page*/
.form-row > .form-group > .form-check > input {
  display: none;
}
.form-row > .form-group > .form-check > input:checked + label {
  background-color: black;
  color: white;
}
label{
    display: inline-block;
    width: inherit;
}
/* .form-group{
    border: 1px solid cadetblue;
    margin-bottom: 0 !important;
} */

@media (min-width: 720px) {
  /*tablet 이상의 viewport*/
  .fixed {
    position: relative;
    transform: translateY(-1em);
  }
  /*Inquiry page*/
  .login,
  .inquiry {
    width: 50% !important;
  }
}

@media (max-width: 576px) {
  /*mobile viewport*/
  .dropdown-menu.show {
    border: none;
    background-color: inherit;
  }
  
}
