body {
  background-color: #ccc !important;
}
a {
  text-decoration: none !important;
}
#root {
  max-width: 720px;
  background-color: white;
  padding: 0;
}
button.navbar-toggler {
  border: none;
}
.bi {
  width: 25px;
  height: 25px;
}
.fixed {
  position: fixed;
  right: 20px;
  top: 12px;
}
.responsive {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.responsive+p{
    float: left;
}
.img-wrap{
    position: relative;
}
.img-text{
    position: absolute;
    top: 40%;
    left: 30%;
    text-align: center;
}
.offset-300 {
  margin-left: 300px;
}
.reserve-button {
  color: #fff;
  background-color: #000;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  margin-bottom: 2em;
}

/*Inquiry page*/
.login {
  width: 75% !important;
}

@media (min-width: 720px) {
  .fixed {
    position: relative;
    transform: translateY(-1em);
  }
  /*Inquiry page*/
  .login {
    width: 50% !important;
  }
}
